/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #aaaaaa;
    color: #221546;
    text-shadow: none;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.title {
    font-size: 2em;
    margin: 3%;
}
.bigTitle {
    font-size: 4em;
    margin: 5%;
}
.subTitle {
    font-size: 1.5em;
    margin: 2%;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}
.heavy {
    font-weight: bold;
}
.smallText {
    font-size: 0.7em;
}
.normalText {
    font-size: 1.2em;
}
.smallMediumText {
    font-size: 1.8em;
}
.mediumText {
    font-size: 2.5em;
}
.bigText {
    font-size: 4.5em;
    -webkit-text-fill-color: #EE4355;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #EE4355;
}
.superBigText {
    font-size: 10em;
    font-weight: 300;
}
.pink {
    color: #FFBBBE;
}
.darkpink {
    color: #EE4355;
}
.lightGreen {
    color: #c0e9bd;
}
.green {
    color: #9dc56d;
}
.darkGreen {
    color: #b7d690;
}
#currentQuestion,
#distQuestion {
    position: fixed;
    top: 8%;
}
#choice,
#score {
    position: fixed;
    top: 15%;
}
#userAnswer,
#userScore {
    position: fixed;
}
#userScore {
    top: 250px;
}
#userAnswer {
    top: 37%;
}
#analysisChoice,
#analysis {
    position: fixed;
    top: 520px;
}
#responded,
#respondents {
    position: fixed;
    top: 36%;
    left: 36%;
}
#response1,
#response2,
#response3 {
    position: fixed;
}
#response1 {
    top: 24%;
    left: 41.5%;
}
#response2 {
    top: 42%;
    left: 41%;
}
#response3 {
    top: 59%;
    left: 42%;
}
#agree {
    position: fixed;
    top: 10%;
    left: 38%;
}
#least {
    padding-right: 28%;
}
#respondentKey {
    position: fixed;
    top: 33%;
    left: 87%;
}
#normalKey {
    position: fixed;
    top: 53%;
    left: 87%;
}
#you {
    position: fixed;
    top: 40%;
    left: 67%;
}
.goLeft {
    position: fixed;
    top: 40%;
    left: 0%;
}
.goRight {
    position: fixed;
    top: 40%;
    right: 0%;
    text-align: right;
}
ol {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 10%;
}
.centred {
    text-align: center;
}
.nextScreen {
    text-align: right;
    padding-right: 10%;
}
.next {
    text-align: right;
    padding-top: 30%;
}
.previous {
    padding-top: 30%;
}
.previousScreen {
    text-align: left;
    margin-left: 10%;
}
.navigate {
    width: 25%;
}
.autoCentre {
    margin: 0 auto;
}
#rotatedQuestionText {
    margin-left: -220%;
    transform: rotate(-90deg);
}
#rotatedDistText {
    margin-left: -180%;
    transform: rotate(-90deg);
}

.bar {
    fill: steelblue;
}
.barText {
    fill: white;
    font-size: 0.75em;
    text-anchor: middle;
}
.column-1-10 {
    width: 10%;
}
.column-3-10 {
    width: 30%;
}
.column-6-10 {
    width: 60%;
}
#pageone,
#pagetwo,
#pagethree,
#pagefour,
#pagefive {
    background: radial-gradient(circle, #0f2010, black);
    background: -webkit-radial-gradient(circle, #113312, #000000);
    color: #aaaaaa;
    text-shadow: none;
    padding-left: 2%;
}
.barHorizontal {
    fill: #c661b2;
}
.axis {
    font: 10px sans-serif;
    fill: white;
    shape-rendering: crispEdges;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}
.smallPadLeft {
    padding-left: 3%;
}
.indicator {
    width: 0;
    height: 0;
    margin: 10% 0 0 0;
}
.red {
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
}
.steelblue {
    border-right: 5px solid steelblue;
    border-left: 5px solid steelblue;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
}
.userKey {
    padding-left: 5%;
}
.keyInfo {
    margin: 2% 0 2% 0;
}
.normalLine {
    fill: none;
    stroke-dasharray: 3,3;
    stroke: #bcebc1;
    stroke-width: 2px;
}
