/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    overflow: hidden;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.title {
    font-size: 3vw;
    margin: 3%;
}
.bigTitle {
    font-size: 6vw;
    margin: 5%;
}
.subTitle {
    font-size: 2.2vw;
    margin: 2%;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}
.heavy {
    font-weight: bold;
}
.smallText {
    font-size: 1.6vw;
}
.normalText {
    font-size: 1.9vw;
}
.smallMediumText {
    font-size: 2.2vw;
}
.mediumText {
    font-size: 6vw;
}
.bigText {
    font-size: 6vw;
    -webkit-text-fill-color: #EE4355;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #EE4355;
}
.largeText {
    font-size: 3vw;
}
.superBigText {
    font-size: 14vw;
    font-weight: 300;
}
@media screen and (min-width: 1200px) {
    .normalText {
        font-size: 1.3em;
    }
    .bigText {
        font-size: 4em;
    }
    .mediumText {
        font-size: 2.2em;
    }
    .superBigText {
        font-size: 9em;
    }
}
.pink {
    color: #FFBBBE;
}
.darkpink {
    color: #EE4355;
}
.lightGreen {
    color: #c0e9bd;
}
.green {
    color: #9dc56d;
}
.darkGreen {
    color: #b7d690;
}
.currentQuestionContainer,
.distQuestion {
    position: fixed;
    top: 11%;
    left: 4%;
}
.choice,
.score {
    position: fixed;
    top: 29%;
    left: 4%;
}
.userAnswerContainer,
.userScore,
.userOutOf{
    position: fixed;
}
.userScore {
    top: 25%;
    left: 4%;
}
.userAnswerContainer {
    top: 40%;
    left: 4%;
}
#userAnswer0 {
    width: 100%;
}
.userOutOf {
    top: 45%;
    left: 4%;
}
.analysisChoice,
.analysis {
    position: fixed;
    top: 66%;
    left: 4%;
}
.responded,
.respondents {
    position: fixed;
    top: 9%;
}
.responded {
    left: 40%;
}
.respondents {
    left: 45%;
}
.response1,
.response2,
.response3 {
    position: fixed;
}
.response1 {
    top: 29%;
    left: 78%;
}
.response2 {
    top: 45%;
    left: 78%;
}
.response3 {
    top: 61%;
    left: 76%;
}
.responsePercent1,
.responsePercent2,
.responsePercent3 {
    position: fixed;
}
.responsePercent1 {
    top: 22%;
    left: 80%;
}
.responsePercent2 {
    top: 38%;
    left: 80%;
}
.responsePercent3 {
    top: 55%;
    left: 80%;
}
.agree {
    position: fixed;
    top: 53%;
    left: 32%;
}
.least {
    padding-right: 80%;
}
@media screen and (min-width: 1200px) {
    .least {
        padding-right: 35%;
    }
}
.respondentKey {
    position: fixed;
    top: 33%;
    left: 88.5%;
}
.normalKey {
    position: fixed;
    top: 53%;
    left: 88.5%;
}
.you {
    position: fixed;
    top: 41%;
    left: 68.5%;
}
.goLeft {
    position: fixed;
    top: 40%;
    left: 0%;
}
.goRight {
    position: fixed;
    top: 40%;
    right: 0%;
    text-align: right;
}
ol {
    font-size: 2.4vw;
    line-height: 1.5em;
    padding-left: 10%;
}
.centred {
    text-align: center;
}
.nextScreen {
    text-align: right;
    padding-right: 10%;
}
.next {
    text-align: right;
    padding-top: 30%;
}
.previous {
    padding-top: 30%;
}
.previousScreen {
    text-align: left;
    margin-left: 10%;
}
.navigate {
    width: 25%;
}
.autoCentre {
    margin: 0 auto;
}
.rotatedQuestionText {
    margin-left: -250%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.rotatedDistText {
    margin-left: -190%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.bar {
    fill: steelblue;
}
.barText {
    fill: white;
    font-size: 0.75em;
    text-anchor: middle;
}
.column-1-10 {
    width: 10%;
}
.column-3-10 {
    width: 30%;
}
.column-6-10 {
    width: 60%;
}

.mainPage,
#pageone,
#pagetwo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    background: radial-gradient(circle, #0f2010, black);
    background: -webkit-radial-gradient(circle, #113312, #000000);
    padding-left: 0%;
    color: #aaaaaa;
    overflow: hidden;
    max-width: 100%;
}
.barHorizontal {
    fill: #c661b2;
}
.axis {
    font: 10px sans-serif;
    fill: white;
    shape-rendering: crispEdges;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}
.smallPadLeft {
    padding-left: 3%;
}
.indicator {
    width: 0;
    height: 0;
    margin: 10% 0 0 0;
}
.red {
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
}
.steelblue {
    border-right: 5px solid steelblue;
    border-left: 5px solid steelblue;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
}
.userKey {
    padding-left: 5%;
}
.keyInfo {
    margin: 2% 0 2% 0;
}
.normalLine {
    fill: none;
    stroke-dasharray: 3,3;
    stroke: #bcebc1;
    stroke-width: 2px;
}
/*
@media screen
and (max-width: 802px)
and (orientation: landscape) {
    .currentQuestionContainer {
        top: 1%;
    }
    .choice {
        top: 20%;
    }
    .analysisChoice {
        top: 62%;
    }
    .response1 {
        top: 15%;
        left: 40%;
    }
    .response2 {
        top: 32%;
        left: 40%;
    }
    .response3 {
        top: 45%;
        left: 40%;
    }
    .smallMediumText {
        font-size: 1.4vw;
    }
    .bigText {
        font-size: 4vw;
    }
    .mediumText {
        font-size: 3vw;
    }
}
*/
/*
@media screen
and (max-width: 600px)
and (orientation : landscape) {
    .choice {
        top: 18%;
    }
    .currentQuestionContainer {
        top: 1%;
    }
    .response1 {
        top: 17%;
        left: 41%;
    }
    .response2 {
        top: 36%;
        left: 41%;
    }
    .response3 {
        top: 52%;
        left: 42.5%;
    }
}
*/


