/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {

}
/* Fonts */
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}
/* Font styles */
.heavy {
    font-weight: bold;
}

/* Text sizes */

/* Colours */
.pink {
    color: #ffbbbe;
}
.darkPink {
    color: #ee4355;
}
.grey {
    color: #939393;
}
.lightGreen {
    color: #c0e9bd;
}
.green {
    color: #9dc56d;
}
.darkGreen {
    color: #476327;
}
/* Positioning */
.centred {
    text-align: center;
}
.autoCentre {
    margin: 0 auto;
}

.mainPage {
    padding-top: 0%;
    text-shadow: none;
    color: #aaaaaa;
}


/*

.smallerSizeText {
    font-size: 1.3vw;
}
.normalSizeText {
    font-size: 1.9vw;
}
.mediumSizeText {
    font-size: 3.5vw;
}
.bigSizeText {
    font-size: 6vw;
    -webkit-text-fill-color: #EE4355;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #EE4355;
}
.veryBigSizeText {
    font-size: 14vw;
    font-weight: 300;
}
.noDecoration {
    text-shadow: none;
}
.subPage {
    padding-top: 0%;
    overflow-x: hidden;
}


.userQuestionContainer {
    padding-bottom: 10%;
}
.userAnswerContainer {
    margin: 10% 0;
}
.questionTextContainer {
    padding: 12.5% 0 8% 0;
    margin-bottom: 12%;
}

.navigate {
    margin-top: 25%;
}
.navigate img {
    width: 100%;
}
.scoreBackground {
    position: absolute;
    top: 20%;
    left: 5%;
}
.userDistContainer {
    padding-bottom: 10%;
}
.scoredContainer {
    padding-top: 10%;
}
.userScoreContainer {
    margin: 10% 0 15% 0;
    background: #ee4355;
    border-radius: 50%;
}
.outOfValue {
    margin-top: -10%;
    padding-bottom: 15%;
}
.more {
    margin-top: -5%;
}
*/


/* Media queries */



